target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
authorsSearchPage.xml
basicSearchResults.xml
authorSearchRezults.xml
appl/src/main/resources/authors.txt
appl/src/main/resources/authorSearchResults.xml
appl/src/main/resources/authorsGraphCsv
appl/src/main/resources/authPage.xml
appl/src/main/resources/graphCsvFormat
appl/src/main/resources/graphForPython
appl/src/main/resources/error/authorSearchFieldNotFound.xml
appl/src/main/resources/serialized/authDB.out
appl/src/main/resources/serialized/jgraph_obj.out
